*{
    box-sizing: border-box;
}


body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* nav starts */

a{
    text-decoration: none;
}

nav{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 120px;
    margin-left: 150px;
}

.nav-links{
    width: 400px;
    margin-right: 150px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-links li a{
    color: white;
    text-decoration: none;
}

.nav-links li a::after{
    content: '';
    width: 0%;
    height: 4px;
    margin: auto;       
    background-color: rgb(23, 23, 84);
    display: block; 
    transition: 0.4s ease-in-out;
}

.nav-links li a:hover::after{
    width: 100%;
}

/* mobile strts */

.mobile-cover{
    position: absolute;
    display: none;
    z-index: 10;
    width: 100%;
    height: 450%;
    background-color: rgba(124, 58, 58, 0.653);
    transition: 0.5s ease-in-out;
}

.mobile-nav{
    position: absolute;
    z-index: 15;
    right: 0;
    width: 40%;
    background-color: rgb(239, 239, 239);  
    border-bottom-left-radius: 8px;  
    opacity: 0;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s ease-in-out;
}

.mobile-into{
    cursor: pointer;
    display: none;
    position: absolute;
    z-index: 50;
    right: 0;
    margin: 30px 30px 0 auto;
    font-size: 30px;
    color: white;
    transition: 0.5s ease-in-out;/
}

.mobile-close {
    margin: 30px 30px 0 auto;
    font-size: 30px;
    font-weight: bold;
    color: rgb(136, 47, 47);
}

.mobile-nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mobile-nav li{
    cursor: pointer;
    width: 100%;
    height: 50px;
    padding: 10px;
}

.mobile-nav li a{
    color: rgb(136, 47, 47);
    text-decoration: none;
}


/* hero starts */

.hero{
    width: 100%;
    height: 100vh;
    background-color: rgba(116, 14, 14, 0.763);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image{
    position: absolute;
    top: 0;
    z-index: -5;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    font-size: 50px;
}

.hero-text-container p{
    width: 800px;
    color: white;
    text-align: center;
}

.hero-btn{
    cursor: pointer;
    width: 160px;
    height: 50px;
    margin-top: 30px;
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.hero-btn a{
    color: white;
}

.hero-btn:hover{
    background-color: rgb(23, 23, 84);
    border: 1px solid rgb(23, 23, 84);
}


/* courses start */

.courses{
    width: 100%;
    height: 450px;
    /* margin-top: 50px; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 35px;
    margin-bottom: -5px;
}

.course-container{
    width: 100%;
    border-top: 1px solid rgb(116, 14, 14);
    border-bottom: 1px solid rgb(116, 14, 14);
    padding: 10px 10px;
    margin-top: 30px;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: inline;
    transition: 0.5s ease-in-out;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    z-index: 5;
    width: 50px;
    height: 50px;
    margin-top: 80px;
    font-size: 50px;
    background-color: rgba(181, 90, 60, 0.552);
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.566);
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev:hover,
.next:hover{
    background-color: rgba(181, 90, 60, 0.827);
    color: rgba(255, 255, 255, 0.804);
}

.prev{
    left: 20px;
    rotate: 180deg;
}

.next{
    right: 20px;
}

.course-box{
    cursor: pointer;
    min-width: 320px;
    height: 200px;
    padding: 10px;
    margin: 10px 20px;
    background-color: rgb(209, 209, 209);
    border-radius: 8px;
    display: block;
    text-align: center;
    scroll-snap-align: center;
    transition: 0.4s ease-in-out;
}

.course-box:hover{
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.525), -2px -2px 15px rgba(0, 0, 0, 0.525);
    scale: 1.1;
}

/* facilities start */

.facilities{
    width: 100%;
    height: 800px;
    /* background-color: white; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.facility-text{
    width: 100%;
    text-align: center;
}

.facility-box{
    cursor: pointer;
    position: relative;
    width: 425px;
    height: 550px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.8s ease-in;
}

.facility-box img{
    width: 100%;
    height: 70%;
    border-radius: 15px;
    object-fit: cover;
    transition: 0.4s ease-in-out;
}

.facility-cover{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 70%;
    border-radius: 15px;
    background-color: rgba(116, 14, 14, 0.595);
    transition: 0.4s ease-in-out;
}

.facility-box h2{
    font-size: 28px;
    transition: margin-bottom 0.7s ease-in-out;
}

.facility-box p{
    transition: margin-bottom 0.7s ease-in-out;
}

.facility-box:hover > img{
    position: absolute;
    z-index: -2;
    height: 100%;
}

.facility-box:hover > .facility-cover{
    height: 100%;
}

.facility-box:hover > h2 {
    margin-top: auto;
    margin-bottom: -260px;
    color: white;
}

.facility-box:hover> p{
    margin-top: auto;
    margin-bottom: 180px;
    color: white;
}

/* final contact start */

.final-contact{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.final-contact h1{
    margin-bottom: 10px;
    text-align: center;
    font-size: 45px;
}

.final-image-container{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 450px;
    border-radius: 15px;
    background-color: rgba(116, 14, 14);
}

.final-image-container img{
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 0.2;
    object-fit: cover;
}

/* footer */

footer {
    width: 100%;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0 150px;
    color: darkgray;
}

.edge{
    width: 100%;
    height: 60px;
    margin-top: 50px;
    background-color: rgb(104, 17, 17);
}

/* about hero starts */

.about-hero{
    width: 100%;
    height: 50vh;
    background-color: rgba(116, 14, 14, 0.763);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-hero-image {
    position: absolute;
    top: 0;
    z-index: -5;
    width: 100%;
    height: 80%;
    object-fit: cover;
}

/* about */

.about{
    width: 100%;
    height: 70vh;
    padding: 70px 50px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-text{
    width: 600px;
}

.about-text h2{
    font-size: 28px;
    margin-bottom: 20px;
}

.about-text > a > .hero-btn,
form > .hero-btn{
    color: rgb(104, 17, 17);
    border: 1px solid rgb(104, 17, 17);
}

.about-text > a >.hero-btn:hover,
form > .hero-btn:hover{
    color: white;
    border: none;
}

.about-image{
    width: 600px;
    height: 400px;
}

.about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* conatact starts */
.map {
    width: 100%;
    height: 600px;
    padding: 70px 50px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.contact-info{
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-text{
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.contact-text-box{
    display: flex;
    flex-wrap: wrap;
}

i{
    width: 50px;
    height: 50px;
    margin: 30px 0 0 0;
    color: red;
    font-size: 20px;
}

.contact-text-box > h2{
    width: 480px;
    margin: 20px 0 0 20px;
    font-size: 30px;
}

.contact-text-box > p{
    margin: 0 0 0 80px;
}

.contact-input{
    width: 650px;
}

form{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}

input,
textarea{
    width: 100%;
    height: 38px;
    margin: 5px 0;
    padding: 5px;
    border: .5px solid rgba(0, 0, 0, 0.333);
    border-radius: 6px;
    font-size: 16px;
}

textarea{
    min-width: 100%;
    min-height: 280px;  
    font-size: 18px;  
}

input:focus,
textarea:focus{
    outline: 3px solid rgba(87, 172, 241, 0.518);
}


/* media query */
@media screen and (min-width: 480px) {
    .mobile-into{
        display: none;
    }
}

@media screen and (max-width: 680px)  {
    nav{
        position: absolute;
    }
    .nav-links{
        display: none;
    }

    .mobile-into{
        display: block;
    }

    .mobile-nav{
        display: flex;
    }


    html,
    body{
        overflow-x: none;
    }

    .index-body{
        height: 3950px;
    }

    .hero{
        height: 650px;
    }

    h1,
    .final-contact h1{
        font-size: 25px;
    }

    h2,
    .contact-info h2{
        font-size: 20px;
    }

    p{
        font-size: 14px;
    }

    .hero-text-container p,
    .courses p,
    .contact-info p{
        width: 300px;
        text-align: center;
    }

    .course-box p{
        width: 280px;
    }

    .course-container{
        overflow-x: scroll;
    }

    .course-btn{
        display: none;
    }

    .facilities{
        height: 900px;
        flex-direction: column;
    }

    .facility-box{
        width: 360px;
        margin-top: 10px;
    }

    .final-contact{
        margin-top: 80px;
    }
    
    footer{
        margin-top: -30px;
    }

    footer p{
        margin: 0 20px;
    }

    /* about */

    .about-body{
        padding-bottom: 275px;
    }

    .about-image{
        width: 250px;
        height: 250px;
        order: -1;
    }

    .about{
        margin-bottom: 40px;
    }

    .about-foot{
        margin-top: 380px;
        padding-top: 100px;
    }

    /* courses */

    .course-body{
        height: 3130px;
    }

    .course-foot{
        margin-top: 50px;
    }


    /* contact */

    .contact-body{
        height: 2400px;
    }

    .map{
        padding: 30px 10px 0;
    }

    .contact-info{
        margin: 20px 80px 20px 20px;
    }

    .contact-text-box{
        width: 300px;
        margin: 20px 0;
    }

    i{
        height: 10px;
    }

    .contact-info h2{
        width: 200px;
    }

    .contact-input{
        margin-left: 0px;
        margin-right: -15px;
    }

    .contact-foot{
        margin-top: 50px;
    }
}

@media screen and (max-width: 1250px) {
    nav{
        flex-direction: column;
        align-items: center;
    }

    .logo{
        margin: 0;
    }

    .nav-links{
        margin: 0;
    }

    h1{
        margin-top: 150px;
    }
}

@media screen and (max-width: 1350px) {
    .facilities {
            height: 1800px;
            flex-direction: column;
    }

    .about-body{
        height: 8000px;
    }

    .about-text {
            flex-direction: column;
    }
    
    .about-image {
        width: 650px;
        height: 450px;
        order: -1;
    }

    .about-foot {
        margin-top: 1480px;
    }
}